<!DOCTYPE html>
<html>
  <head>
    <title>Authentication</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form action="/profile?_csrf=<%= csrfToken %>" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" id="">
      
     <button type="submit">Submit</button>
    </form>
  </body>
</html>
